<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card [title]="'test1'" [body]="'asjkbdjkas'"></app-note-card>
    <app-note-card [title]="'test2'" [body]="'asasdasdasdjkbdjkas'"></app-note-card>
    <app-note-card [title]="'test3'" [body]="'sjkdncjkdsncjksdncjkdn'"></app-note-card>
    <app-note-card [title]="'test4'" [body]="'asjkbdjkas'"></app-note-card>
  </div>

</div>
